<h3> Patient Details</h3>
<div>
    <div>
        <label> <b> Name: </b></label> {{user.firstName}}
    </div>
    <div>
        <label> <b> Email Id: </b></label> {{user.emailId}}
    </div>
    <div>
        <label> <b> Date: </b></label> {{user.from}}
    </div>
    <div>
        <label> <b> Time: </b></label> {{user.timing}}
    </div>
    <div>
        <label> <b> Speciality: </b></label> {{user.spec}}
    </div>
    <div>
        <label> <b> Consultants: </b></label> {{user.timing}}
    </div><br>
    <div>
        <br>
    <button class = "btn btn-success" type ="submit">Approve</button>
    <b> <button class = "btn btn-danger" type ="submit" style="margin-left: 10px"> Deny </button></b>
</div>

</div>
